.DS_Store
.vscode
*.out
*.prof
/bin
*/*.iml
cmd/scratch
profile
*.idea
*.meta


*_dev.toml
*_dev.json

config_dev



*.log
.schema-store
*.coverprofile

*.retry

test.sh
test.sql
tmp.py

gravity.timestamp.toml
gravity.timestamp.toml.backup

nuclear/configdata/dev.toml
nuclear/configdata/mysql-pb.toml

etc/scripts/mongo_bike/mongo2mysql_*

scripts/set_position.py

default.etcd

gravity_mongo.meta.toml

private_plugins
grpc-sidecar