.DS_Store
*.out
*.prof
/bin
*/*.iml
cmd/scratch
profile
*.idea
*.meta
config.toml
master_config.toml
*_dev.toml
*_dev.json

config_dev
nuclear/config_dev
scanner/config_dev

*.log
.schema-store
*.coverprofile

*.retry

test.sh
test.sql
tmp.py

gravity.timestamp.toml
gravity.timestamp.toml.backup

nuclear/configdata/dev.toml
nuclear/configdata/mysql-pb.toml

etc/scripts/mongo_bike/mongo2mysql_*

scripts/set_position.py

default.etcd

gravity_mongo.meta.toml