language: go

go:
  - "1.11"

install: true

services:
  - docker

jobs:
  include:
    - stage: "test"
      name: "build"
      script:
        - make build-linux
        - docker build -t moiot/gravity:${TRAVIS_COMMIT::8} -f Dockerfile.gravity .
    - name: "test"
      script: make test
      after_script: make test-down
    - stage: "publish"
      if: tag IS present
      script:
        - make build-linux
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker build -t moiot/gravity:${TRAVIS_TAG} -f Dockerfile.gravity .
        - docker push moiot/gravity:${TRAVIS_TAG}